<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset</title>
</head>
<body>

<h1 class="title">Reinitialiser mot de passe</h1>
<form method="post" action="{% url 'blog:reset_password' %}">
    {% csrf_token %}
    <div class="content has-text-centered">
        <div class="field">
            <div class="control">
                <input class="input" type="mail" name="email" placeholder="email">
            </div>
        </div>
        <button class="button is-link">Reinitialiser</button>
    </div>
</form>
</div>
</body>
</html>