<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset</title>
</head>
<body>

<h1 class="title">Reinitialiser mot de passe</h1>
<form method="post" action="{% url 'blog:reset_password_f' password.id password.username %}">
    {% csrf_token %}
    <div class="content has-text-centered">
        <div class="field">
            <div class="control">
                <input class="input" type="mail" name="reset_pass" placeholder="mot de passe de reinitialisation">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="password" name="new_pass" placeholder="nouveau mot de passe">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" type="password" name="confirm_pass" placeholder="confirmer le mot de passe">
            </div>
        </div>
        <button class="button is-link">Reinitialiser</button>
    </div>
</form>
</body>
</html>