{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<div class="has-background-white container mt-5">
    <h1 class="title is-2 has-text-centered">Tableau de bord</h1>
    <div>
        <div class="columns">
            <div class="column is-3">
                 <a class="panel-block" href="{% url 'blog:create_article' %}" style="height: 250px; box-shadow: 0px 0px 2px grey">
                     <img src="{% static 'blog/new_article.svg' %}">
                </a>
                <h3 class="has-text-link has-text-centered is-size-5 ">
                    Créer un nouvelle article
                </h3>
            </div>
            <div class="column is-3">
                 <a class="panel-block" href="{% url 'blog:list_article' %}" style="height: 250px; box-shadow: 0px 0px 2px grey">
                     <img src="{% static 'blog/manage_article.svg' %}">
                </a>
                <h3 class="has-text-link has-text-centered is-size-5 ">
                    Gérer mes articles
                </h3>
            </div>
            <div class="column is-3">
                 <a class="panel-block" href="{% url 'blog:add_category' %}" style="height: 250px; box-shadow: 0px 0px 2px grey">
                     <img src="{% static 'blog/add_category.svg' %}">
                </a>
                <h3 class="has-text-link has-text-centered is-size-5 ">
                    Ajouter une nouvelle categorie
                </h3>
            </div>
             <div class="column is-3">
                 <a class="panel-block" href="{% url 'blog:logout' %}" style="height: 250px; box-shadow: 0px 0px 2px grey">
                     <img src="{% static 'blog/quit_dash.svg' %}">
                </a>
                <h3 class="has-text-link has-text-centered is-size-5 ">
                    Quitter
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}